* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
}

/* for mobil, default-------------------------------------------------------------- */

/*---------------------Menu---------------------*/

.menu {
    list-style-type: none;    
    overflow: hidden;    
    text-align: center;         
    margin-bottom: 0;
}

.menu::after {
    content: "";
    clear: both;
    display: table;
}

.menu img {
    vertical-align: middle;
}

.menu li {
    display: inline-block;    
}

.menu li a{
    display: inline-block;
    padding: 10px 5px;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;    
    font-size: 1.6vw;
    color:gray;
    text-align: center;
    text-decoration: none;
}

.menu li:nth-child(1) img {
    width: 70%;
    height: auto;
}

.menu li:nth-child(2) a:hover{
    background-color: #FFB700;
    color: white;
    transition: background-color 700ms;
}

.menu li:nth-child(3) a:hover{
    background-color: #015641;
    color: white;
    transition: background-color 700ms;
}

.menu li:nth-child(4) a:hover{
    background-color: #FF5C03;
    color: white;
    transition: background-color 700ms;
}

.menu li:nth-child(5) a:hover{
    background-color: #8E2029;
    color: white;
    transition: background-color 700ms;
}

/*---------------------Social media buttons---------------------*/

.social {
    text-align: center;
}

.social .fa {
    padding: 6px;
    font-size: 1.6vw;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px 15px;
  }
  
  .social .fa:hover {
      opacity: 0.7;
  }
  
  .social .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .social .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .social .fa-instagram {
    background: #125688;
    color: white;
  } 



/*---------------------Banner---------------------*/

.banner {
    width: 100%;
    position: relative;
}

.banner img{
    display: block;
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*---------------------Điểm đến---------------------*/

.destination {
    width: 80%;    
    margin: 20px auto;      
   
}

.destination .row::after {
    content: "";
    clear: both;
    display: table;
  }

.destination .column {
    float: left;    
    margin-bottom: 16px;
    padding: 0 20px 0 0;    
}

.destination img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0  ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
    transition: opacity 1s;
}

.destination img:hover {
    opacity: 0.5;
}

h1{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-weight: bold;        
    padding: 20px 0 5px;    
    color: rgb(72, 72, 72);    
}

h2{
    font-family: Calibri, sans-serif;
    font-size: 1.6vw;        
    font-weight: bold;
    color: rgb(104, 104, 104);    
}


p {
    font-family: Calibri, sans-serif;
    font-size: 1.6vw;
    color: rgb(72, 72, 72);   
    
}

/*---------------------Main - view destination---------------------*/
.main {
    width: 80%;    
    padding: 0;
    margin: auto;
}

.content {
    width: 100%;
    padding: 10px 20px;
}

.content img {
    border-radius: 15px 0 0 15px;
}

.aside {    
    width: 100%;
    padding: 10px 20px;
}

.aside img {
    border-radius: 0 20px 20px 0;
    width: 100%;
    height: auto;
}

.aside .map {    
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 0 20px 20px 0;
}

blockquote {
    font-size: 25px;
    color: #F19800;
    border-left: 5px solid #F19800;
}

br {
    content: "";
    display: block;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    
}

.food {
    width: 100%;
    height: auto;
    padding: 0;   
    border-radius: 0 20px 20px 0;
}

.img-inline {
    width: 50vw;
    height: auto;
    float: left;
    vertical-align: top;
    margin: 5px 15px 3px 0;
    border-radius: 7px;
    border-right: 5px solid #8E2029;    
}


/*---------------------Footer---------------------*/

.footer {
    background-color: rgb(223, 223, 223);
    height: 200px;    
    
}

.footer .follow {    
    width: 100%;    
    display: inline-block;        
    text-align: center;        
    padding: 20px;
}


.fa {    
    display: inline-block;
    padding: 10px;        
    font-size: 40px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

 
  /*---------------------Image slideshow---------------------
  Phần này copy và chỉnh sửa từ w3schools.com-----------*/

  .gallery {
    position: relative;
    width: 80%;    
    padding: 0;
    margin: auto;
}

.mySlides {
    display: none;
}

.gallery img {
    width: 100%;
    vertical-align: middle;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot-nav {
    text-align: center;
    margin-bottom: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;  
}

@keyframes fade {
  from {opacity: .4;} 
  to {opacity: 1;}  
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/* for desktops & laptops-------------------------------------------------------------- */
@media only screen and (min-width: 992px) { 


/*---------------------Menu---------------------*/


.menu {
    list-style-type: none;
    padding: 0 auto;    
    overflow: hidden;    
    text-align: center;   
    
}

.menu::after {
    content: "";
    clear: both;
    display: table;
}

.menu img {
    vertical-align: middle;
}

.menu li {
    display: inline-block;    
}

.menu li:nth-child(1) img {
    width: 100%;
    height: auto;
}
.menu li a{
    display: inline-block;
    padding: 15px 10px;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;    
    font-size: 18px;
    color:gray;
    text-align: center;
    text-decoration: none;
}


.menu li:nth-child(2) a:hover{
    background-color: #FFB700;
    color: white;
    transition: background-color 700ms;
}

.menu li:nth-child(3) a:hover{
    background-color: #015641;
    color: white;
    transition: background-color 700ms;
}

.menu li:nth-child(4) a:hover{
    background-color: #FF5C03;
    color: white;
    transition: background-color 700ms;
}

.menu li:nth-child(5) a:hover{
    background-color: #8E2029;
    color: white;
    transition: background-color 700ms;
}

/*---------------------Social media buttons---------------------*/

.social {
    position: absolute;
    top: 10px;
    right: 35px;    
}

.social .fa {
    padding: 6px;
    font-size: 1.6vw;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .social .fa:hover {
      opacity: 0.7;
  }
  
  .social .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .social .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .social .fa-instagram {
    background: #125688;
    color: white;
  } 



/*---------------------Banner---------------------*/

.banner {
    width: 100%;
    position: relative;
}

.banner img{
    display: block;
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*---------------------Điểm đến---------------------*/

.destination {
    width: 80%;    
    margin: 20px auto;      
   
}

.destination .row::after {
    content: "";
    clear: both;
    display: table;
  }

.destination .column {
    float: left;    
    margin-bottom: 16px;
    padding: 0 20px 0 0;    
}

.destination img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0  ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);    
    transition: opacity 1s;
}

.destination img:hover {
    opacity: 0.5;
}

h1{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-weight: bold;        
    padding: 20px 0 5px;    
    color: rgb(72, 72, 72);    
}

h2{
    font-family: Calibri, sans-serif;
    font-size: 1.6vw;        
    font-weight: bold;
    color: rgb(104, 104, 104);    
}


p {
    font-family: Calibri, sans-serif;
    font-size: 1.6vw;
    color: rgb(72, 72, 72);   
    
}

/*---------------------Main - view destination---------------------*/
.main {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;    
    padding: 0;
    margin: auto;
}

.main::after {
    content: "";
    clear: both;
    display: table;
  }

.content {
    width: 60%;
    padding: 20px;
}

.content img {
    border-radius: 15px 0 0 15px;
}

.aside {    
    width: 40%;
    float: right;
    margin-top: 60px;    
}

.aside img {
    border-radius: 0 20px 20px 0;
    width: 100%;
    height: auto;
}

.aside .map {    
    width: 100%;
    height: 95%;
    border: 0;
    border-radius: 0 20px 20px 0;
}

blockquote {
    font-size: 25px;
    color: #F19800;
    border-left: 5px solid #F19800;
}

br {
    content: "";
    display: block;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    
}

.food {
    width: 100%;
    height: auto;
    padding: 0;   
    border-radius: 0 20px 20px 0;
}

.img-inline {
    width: 200px;
    height: auto;
    float: left;
    margin: 5px 15px 3px 0;    
    border-right: 5px solid #8E2029;
}


/*---------------------Footer---------------------*/

.footer {
    background-color: rgb(223, 223, 223);
    height: 200px;    
    
}

.footer .follow {    
    width: 100%;    
    display: inline-block;    
    text-align: center;        
    padding: 20px;
}


.fa {    
    display: inline-block;
    padding: 10px;        
    font-size: 40px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

 
  /*---------------------Image slideshow---------------------
  Phần này copy và chỉnh sửa từ w3schools.com-----------*/

  .gallery {
    position: relative;
    width: 80%;    
    padding: 0;
    margin: auto;
}

.mySlides {
    display: none;
}

.gallery img {
    width: 100%;
    vertical-align: middle;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot-nav {
    text-align: center;
    margin-bottom: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;  
}

@keyframes fade {
  from {opacity: .4;} 
  to {opacity: 1;}  
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {font-size: 11px;}
}}